/* general */
#container,
#container section,
#container form {
  display: flex;
}

#container {
  position: absolute;
  width: auto;
  height: auto;
  padding: 2.5rem;
  color: var(--color-on-secondary-container);
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 2.5rem;
  background-color: var(--color-secondary-container);
  flex-direction: column;
  margin-top: -0.5rem;
}

body.dark #container {
  color: var(--color-on-surface);
  background-color: var(--color-surface-e4);
}

@media screen and (max-width: 768px) {
  #container {
    height: auto;
  }
}

@media screen and (max-width: 360px) {
  #container {
    background-color: transparent;
    padding-top: 0;
  }
}

/* logo */
#container div {
  padding-bottom: 1rem;
}

#container img {
  height: 5rem;
  align-self: baseline;
}

/* section */
#container section {
  width: 45rem;
  justify-content: space-between;
  margin-left: -0.5rem;
}

@media screen and (max-width: 944px) {
  #container section {
    width: 35rem;
  }
}

@media screen and (max-width: 768px) {
  #container section {
    width: 16rem;
    flex-direction: column;
  }
}

@media screen and (max-width: 360px) {
  #container section {
    width: 15rem;
  }
}

/* form */
#container form {
  flex-direction: column;
}

#container form button {
  margin-left: auto;
}

#container form select {
  height: 2.875rem;
  margin: 0.25rem 0;
  margin-top: -2.875rem;
}

@media screen and (max-width: 768px) {
  #container form {
    align-items: center;
    flex-direction: column;
  }

  #container form input {
    width: calc(100% - 3rem);
  }

  #container form select {
    width: calc(100% - 0.875rem);
    margin-top: 1rem;
  }
}

/* links */
#container a {
  margin: 1rem;
  font: var(--font-label-l);
  text-align: end;
  color: var(--color-on-secondary-container);
  padding-bottom: 1rem;
}